/// [Default Font]
$fontFamily: "";
/// [Default Font]

/// [Colors]
$accent: "";
$text-color: "";
$bg-color: "";
/// [Colors]

/// [grid Media Queries]
$md1: 320;
$md2: 640;
$md3: 768;
$md4: 1024;
/// [grid Media Queries]